@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@400;500&family=Nunito+Sans&family=Raleway:ital,wght@0,400;0,600;1,500;1,600&display=swap");

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}
